torch>=2.0.1
accelerate==0.24.1
appdirs
loralib==0.1.2
bitsandbytes==0.41.1
black
black[jupyter]
datasets
fire
peft==0.5.0
transformers==4.34.1
sentencepiece==0.1.99
py7zr
scipy==1.11.3
optimum==1.14.0.dev0
wandb